httpx==0.27.2
flongo-framework >= 0.4.0
chromadb==0.5.17
langchain==0.3.6
langchain-community==0.3.4
openai==1.53.0
pydantic==2.9.2
OpenAI-API-Python-Client==1.0.14
pdfplumber==0.11.5
docx2txt==0.8
tiktoken==0.9.0
thefuzz==0.22.1
